@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #ff6d75; /* Example Primary Color */
  --secondary-color: #f8f8f8;
}

body {
  margin: 0;
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
  color: #000;
}

.hover-primary:hover {
  background-color: var(--secondary-color);
  color: black; /* optional if you want text to change */
  transition: background-color 0.2s ease;
}
